<h1>{{ gmina.nazwa }}</h1>

<table>
    <tr>
        <td>Obwod</td>
        <td>Karty</td>
        <td>Wyborcy</td>
        <td></td>
    </tr>
    {% for obwod in obwody %}
    <tr>
        <form action="/gminy/obwod/{{ obwod.id }}/" method="POST" id="form{{ obwod.id }}">
            {% csrf_token %}
            <td>{{ obwod.nazwa }}</td>
            <td>
                <span id="karty{{ obwod.id }}">{{ obwod.karty }}</span>
                <input type="number" min="0" id="post_karty{{ obwod.id }}" style="display: none;">
            </td>
            <td>
                <span id="wyborcy{{ obwod.id }}">{{ obwod.wyborcy }}</span>
                <input type="number" min="0" id="post_wyborcy{{ obwod.id }}" style="display: none;">
            </td>
            <td>
                <button class="edit" id="edit{{ obwod.id }}" data-id="{{ obwod.id }}" class="btn btn-mini btn-primary" type="button">Edytuj</button>
                <button class="save" id="save{{ obwod.id }}" data-id="{{ obwod.id }}" class="btn btn-mini btn-primary" type="button" style="display: none;">Zapisz</button>
                <button class="cancel" id="cancel{{ obwod.id }}" data-id="{{ obwod.id }}" class="btn btn-mini btn-primary" type="button" style="display: none;">Anuluj</button>
            </td>
        </form>
    </tr>
    {% endfor %}
</table>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/scripts/main.js"></script>
