<h1>{{ gmina.nazwa }}</h1>

{% if fails %}
{% for fail in fails %}<p><strong>{{ fail }}</strong></p>
{% endfor %}
{% endif %}

<form action="{% url 'detail' gmina.id %}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
    <tr>
        <td>Obwod</td>
        <td>Karty</td>
        <td>Wyborcy</td>
    </tr>
    {% for form in formset %}
    <tr>
        {{ form.id }}
        <td>{{ form.moja_nazwa }}</td>
        <td>{{ form.karty }}</td>
        <td>{{ form.wyborcy }}</td>
    </tr>
    {% endfor %}
    </table>
    <input type="hidden" value="{{ aktualizacja }}" name="czas_odczytu" />
    <input type="submit" value="Zapisz" />
</form>
